<% include head %>
<ul style="float: right; margin-right: 11px;"> 
	<h2> Categories </h2>
	<% cat.forEach(function(itm){ %>
			<ul style="font-family: monospace;"> <p> <a href="/designistforum/category/ <%= itm.id %>"><b><%= itm.title %></a></b>
			<br>posts: <%= itm.posts %>
			<br>popularity: <%= itm.votes %> </ul></p>
			<% }); %>
			<ul style="margin-left: 20px"><a style="font-family: monospace;" href="/designistforum/category/new">    add new category </a></ul></ul><br><br>

<li style="display: inline"><a style="font-family: monospace;" href="/designistforum/user/new"> new user id </a><a style="font-family: monospace;" href="/designistforum/popular">- sort by <b>popularity</b> </a>
<a style="font-family: monospace;" href="/designistforum"> - sort by <b>most recent</b> </a>	</li>
	<% post.forEach(function(obj){ %>
		<h2><a href="/designistforum/category/posts/<%= obj.post_id %>" ><%= obj.title %></a></h2>
			<br>
			<img src="<%= obj.pic %>" />
			</br>
			<p style = font-family: 'Oswald', sans-serif;> 
			category:<%= obj.category_title %><br>
			comments: <%= obj.comment %> <br>
			popularity: <%= obj.upvote %> <br> 
			<br><br>
			</p></br>
			<% }); %>
			
			
		<img style ="width:200px" id="randomgif" src="<%= gif %>" />

		</body>
		</html>
