<% include head %>
<a style="font-family: monospace;" href="/designistforum/user/new"> new user id </a>		
	<% post.forEach(function(obj){ %>
		<h2 style = font-family: 'Oleo Script', cursive;><a href="/designistforum/category/posts/<%= obj.post_id %>" ><%= obj.title %></a></h2>
			<h3><%= obj.category_title %></a></h3>
			<br>
			<img style="height:400px;max-width:500px;width: expression(this.width > 500 ? 500: true);" id="Happy_CpuDude" src="<%= obj.pic %>" />
			</br>
			<p style = font-family: 'Oswald', sans-serif;> 
			comments: <%= obj.comment %> <br>
			upvotes: <%= obj.upvote %> <br> 
			downvotes: <%= obj.downvote %> <br>
			<br><br>
			</p></br>
			<% }); %>
			
			<h3> Categories </h3>
			<% cat.forEach(function(itm){ %>
			<ul> <a href="/designistforum/category/<%= itm.id %>" ><%= itm.title %> posts: <%= itm.posts %> </a></ul>
			<% }); %>
			<a style="font-family: monospace;" href="/designistforum/category/new"> add new category </a><br><br>


		</body>
		</html>
