<% include head %>

<h1><%= thisPost.title %> </h1>
<h3><a href="/designistforum/category/<%= thisCat.id %>" ><%= thisCat.title %></a></h3>
<img style="max-height:600px;max-width:800px; expression(this.width > 500 ? 500: true);" src="<%= thisPost.pic %>" />
<p><b>by: <%= thisPost.author %> </b><br>
<%= thisPost.created_at %> <br>
<%= thisPost.body %> <br>


<form method="POST" action = '/designistforum/category/posts/<%= thisPost.id %>/votes?_method=PUT'>
<input type="hidden" name="vote" value="up">
<button>GOOD POST</button></form> 
<h4 style="font-family: monospace;"><%= thisPost.upvote %></h4>


<form method = "POST" action = '/designistforum/category/posts/<%= thisPost.id %>/votes?_method=PUT'>
<input type="hidden" name="vote" value="down">
<button>BAD POST</button></form> <h4 style="font-family: monospace;"><%= thisPost.downvote %></h4>


<a href="/designistforum/category/<%= thisCat.id %>/posts/<%= thisPost.id %>/edit">edit this post </a>
<h3> comments: </h3>
<% comment.forEach(function(obj){ %>
			<p><b><%= obj.userId %></b><br>
			<%= obj.comment %></a></p>
			<br><% }); %>
<h3> leave a comment </h3>

<form action ="/designistforum/category/posts/<%= thisPost.id %>/comments" method="POST">
<input style = "width: 250px;" type="text" name="name" placeholder="name" required><br><br>
<textarea name="comment" style="margin: 0px; max-height: 350px; max-width: 312px;height: 250px;width: 250px;" required> post your thoughts</textarea><br><br>
<button>Submit</button><br><br>
</form> 

<br><br><form method="POST" action="/designistforum/<%= thisPost.id %>?_method=DELETE">
<button>erase this post</button>
	</form>

<a style="font-family: monospace;" href="/">Back to Designist Forum</a><br><br>



	</body>
		</html>