<% include head %>

<h1><%= thisPost.title %> </h1><br>
<h3><%= thisPost.category %><br>
<img style="height:400px;max-width:500px;width: expression(this.width > 500 ? 500: true);" src="<%= thisPost.pic %>" />
<p><b>by: <%= thisPost.author %> </b><br>
<%= thisPost.created_at %> <br>
<%= thisPost.body %> <br>
<%= thisPost.upvote %><br>
<%= thisPost.downvote %><br>

<a href="/designistforum/<%= thisPost.id %>/edit">edit this post </a>

<br><br><form method="POST" action="/designistforum/<%= thisPost.id %>?_method=DELETE">
<button>erase this post</button>
	</form>

<a style="font-family: monospace;" href="/">Back to Designist Forum</a><br><br>



	</body>
		</html>