<% include head %>

<h1><%= thisPost.title %> </h1>
<h3><a href="/designistforum/category/<%= thisCat.id %>" ><%= thisCat.title %></a></h3>
<img style="height:400px;max-width:500px;width: expression(this.width > 500 ? 500: true);" src="<%= thisPost.pic %>" />
<p><b>by: <%= thisPost.author %> </b><br>
<%= thisPost.created_at %> <br>
<%= thisPost.body %> <br>
<%= thisPost.upvote %><br>
<%= thisPost.downvote %><br>

<a href="/designistforum/<%= thisPost.id %>/edit">edit this post </a>
<h3> comments: </h3>
<p><b> <%= comment.userId %> : </b><%= comment.comment %></p> 
<h3> leave a comment </h3>
<formaction ="/designistforum/:id" method="POST"><textarea name="body" style="margin: 0px; max-height: 350px; max-width: 312px;height: 250px;width: 250px;" required> post your thoughts</textarea><br><br>
<button>Submit</button><br><br>
</form> 

<br><br><form method="POST" action="/designistforum/<%= thisPost.id %>?_method=DELETE">
<button>erase this post</button>
	</form>

<a style="font-family: monospace;" href="/">Back to Designist Forum</a><br><br>



	</body>
		</html>