<% include head %>
<h1> <%= title %> <h1>
<h2> <%= script %> <h2>
<h4> popularity: <%= popularity %> <h4> 
<form method="POST" action = '/designistforum/category/<%= ids %>/votes?_method=PUT'>
<input type="hidden" name="vote" value="up">
<button>GOOD Category</button></form> 
<h4 style="font-family: monospace;"></h4>


<form method = "POST" action = '/designistforum/category/<%= ids %>/votes?_method=PUT'>
<input type="hidden" name="vote" value="down">
<button>BAD Category</button></form> <h4 style="font-family: monospace;"></h4>


	<% posts.forEach(function(obj){ %>
		<h2 style = font-family: 'Oleo Script', cursive;><a href="/designistforum/category/posts/<%= obj.id %>" ><%= obj.title %></a></h2>
			<h3> <%= obj.descrp %> </h3>
			</br>
			<img style="height:400px;max-width:500px;width: expression(this.width > 500 ? 500: true);"src="<%= obj.pic %>" />
			</br>
			<p style = font-family: 'Oswald', sans-serif;>
			<br> <%= obj.body %> <br>
			comments: <%= obj.comment %> <br>
			popularity: <%= obj.upvote %> <br> 
			<br>
			</p>
			<% }); %>
			
			<h3><a style="font-family: monospace;" href="/designistforum/category/<%= ids %>/posts/new"> Add a New Post! </a></h3>
		<br>
			<ul> 
			<h2 style="font-family: monospace;"> Categories </h2>
			<% cat.forEach(function(itm){ %>
			<li style="font-family: monospace;"> <p> <a href="/designistforum/category/ <%= itm.id %>"><b><%= itm.title %></a></b>
			<br>posts: <%= itm.posts %> </li>
			<% }); %>
			<a style="font-family: monospace;" href="/designistforum/category/new"> add new category </a></p></ul><br><br>
			<br><br><a style="font-family: monospace;" href="/">Back to DesignistForum</a><br>
			<img id="randomgif" src="<%= gif %>" />

</body>
		</html>
