<% include head %>

	<% posts.forEach(function(obj){ %>
		<h2 style = font-family: 'Oleo Script', cursive;><%= obj.title %></a></h2>
			<h3> <%= obj.descrp %> </h3>
			</br>
			<img style="height:400px;max-width:500px;width: expression(this.width > 500 ? 500: true);" id="Happy_CpuDude" src="<%= obj.pic %>" />
			</br>
			<p style = font-family: 'Oswald', sans-serif;><b> by: <%= obj.author %> </b> 
			<br> <%= obj.body %> <br>
			comments: <%= obj.comment %> <br>
			upvotes: <%= obj.upvote %> <br> 
			downvotes: <%= obj.downvote %> <br>
			<br><br>
			</p></br>
			<% }); %>
			
			<h3> Categories </h3>
			<% cat.forEach(function(obj){ %>
			<ul> <%= obj.title %> posts: <%= obj.posts %> </ul>
			
			<% }); %>
			<h1> <%= ids %> </h1>
			<a style="font-family: monospace;" href="/designistforum/category/<%= ids %>/new"> Add a New Post! </a>



		</body>
		</html>
