<% include head %>
<ul style="float:right; padding-right:10px;padding-top:10px;"> 
	<h2> Categories </h2>
	<% cat.forEach(function(itm){ %>
			<ul style="font-family: monospace;"> <p> <a href="/designistforum/category/ <%= itm.id %>"><b><%= itm.title %></a></b>
			<br>posts: <%= itm.posts %>
			<br>popularity: <%= itm.votes %> </ul></p>
			<% }); %>
			<ul style="margin-left: 20px"><a style="font-family: monospace;" href="/designistforum/category/new">    add new category </a></ul></ul><br><br>

<h1> <%= title %> <h1>
<h2 style="font-family: monospace;font-size: 20px;"> <%= script %> <h2>
<h4 style= "margin-left: 20px"; > popularity: <%= popularity %> <h4> 
<form method="POST" action = '/designistforum/category/<%= ids %>/votes?_method=PUT'>
<input type="hidden" name="vote" value="up">
<button>GOOD Category</button></form> 
<h4 style="font-family: monospace;"></h4>


<form method = "POST" action = '/designistforum/category/<%= ids %>/votes?_method=PUT'>
<input type="hidden" name="vote" value="down">
<button>BAD Category</button></form> <h4 style="font-family: monospace;"></h4>


	<% posts.forEach(function(obj){ %>
		<h2 style = font-family: 'Lobster', cursive;><a href="/designistforum/category/posts/<%= obj.id %>" ><%= obj.title %></a></h2>
			<h3> <%= obj.descrp %> </h3>
			</br>
			<img style="width:500px"src="<%= obj.pic %>" />
			</br>
			<p style = font-family: 'Oswald', sans-serif;>
			<br> <%= obj.body %> <br>
			comments: <%= obj.comment %> <br>
			popularity: <%= obj.upvote %> <br> 
			<br>
			</p>
			<% }); %>
			
			<h3><a style="font-family: monospace;" href="/designistforum/category/<%= ids %>/posts/new"> Add a New Post! </a></h3>
		<br><br><br><a style="font-family: monospace;" href="/">Back to DesignistForum</a><br><br>





<a href="/designistforum/category/<%= ids %>/"> Test Link </a>
<h2 style="font-size: 20px;"> Subscribe to: <%= title %> </h2><br>
			<form action ="/designistforum/category/<%= ids %>/subscribe" method="POST">
<input style = "width: 250px;" type="text" name="username" placeholder="username" required><br><br>
<input style = "width: 250px;" type="text" name="password" placeholder="password" required><br><br>
<input style = "width: 250px;" type="text" name="email" placeholder="email" required><br><br>

<button>Submit</button><br><br>
</form>
			<img id="randomgif" src="<%= gif %>" />

</body>
		</html>
